<!DOCTYPE HTML>


<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Customers</title>
    <link type="text/css"
          rel="stylesheet" th:href="@{css/add-customer-style.css}"/>
    <link type="text/css"
          rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>CRM - Customer Relationship Manager</h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <!-- put new button : Add Customer, showFormForAdd : spring controller mapping 호출 , css : add-button-->
        <input type="button" value="Add Customer"
               onclick="window.location.href='showFormForAdd'; return false;"
               class="add-button"
        />
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <!--loop over and print our customers -->
            <tr th:each="tempCustomer : ${customers}">
                <!--                 construct an "update" link with customer id -->
                <th:block
                        th:with="updateLink=@{~/customer/showFormForUpdate(customerId=${tempCustomer.id})}"></th:block>
                <th:block th:with="deleteLink=@{~/customer/delete(customerId=${tempCustomer.id})}"></th:block>

                <td th:text="${tempCustomer.firstName}"></td>
                <td th:text="${tempCustomer.lastName}"></td>
                <td th:text="${tempCustomer.email}"></td>

                <td>
                    <!-- display the update link -->
                    <a th:href="@{/customer/showFormForUpdate(customerId=${tempCustomer.id})}" }>Update</a>
                    |
                    <a th:href="@{/customer/delete(customerId=${tempCustomer.id})}" }>Delete</a>

                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>